
@{
    Layout = null;
}
@using WeFunModel;
@model Studio
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑分区</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/lib/layui-v2.5.5/css/layui.css" media="all"> 
    <link rel="stylesheet" href="~/Content/css/public.css" media="all">
    <script src="~/Content/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        layui.use(['form'], function () {
            var $ = layui.jquery,
                form = layui.form,
                layer = layui.layer;
            $("#EditBut").click(function () {
                var o = new Object();
                o.RoomID = $("#RoomID").val();
                o.RoomName = $("#RoomName").val();
                o.Remake = $("#Remake").val();
                o.State = $("#State").val();
                $.post('/StudioArea/StudioManager/StuEdits', o, function (d) {
                    if (d == "Success") {
                        layer.msg("编辑成功！");
                    } else {
                        layer.msg("编辑失败！");
                    }
                });
            });

        });
    </script>
</head>
<body>
    <div class="layui-form layuimini-form">
        <input type="hidden" id="RoomID" name="areaid" value="@Model.RoomID" />
        <div class="layui-form-item">
            <label class="layui-form-label required">RoomName</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.RoomName" id="RoomName" name="RoomName" lay-verify="required" lay-reqtext="RoomName不能为空" placeholder="请输入RoomName" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">Remake</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.Remake" id="Remake" name="Remake" lay-verify="required" lay-reqtext="Remake不能为空" placeholder="请输入Remake" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">State</label>
            <div class="layui-input-block">
                <input type="text" value="@Model.State" id="State" name="State" lay-verify="required" placeholder="请输入State" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn" id="EditBut">确认保存</button>
            </div>
        </div>
    </div>
</body>
</html>